.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;
  background-image: url(../../images/coast.jpg);
  background-size: cover;
  background-position: center center;
  margin-top: 90px;
  @include border-radius(0);

  @include media-breakpoint-up(sm) {
    padding: $jumbotron-padding;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}
